<div class="transaction-card" *ngIf="transaction">

  <div class="transaction-card__main">

    <!-- TYPE -->
    <div
      class="transaction-card__icon"
      [ngClass]="getTypeClass(transaction)">

      <i [class]="getTypeIcon(transaction)"></i>

    </div>

    <!-- INFORMATIONS -->
    <div class="transaction-card__content">

      <div class="transaction-card__top-line">

        <strong class="transaction-card__reference">
          {{ getReference(transaction) }}
        </strong>

        <span
          class="transaction-card__status"
          [ngClass]="getStatusClass(transaction.status)">

          {{ getStatusLabel(transaction.status) }}

        </span>

      </div>

      <div class="transaction-card__details">

        <span>
          {{ getTypeLabel(transaction) }}
        </span>

        <span class="separator">•</span>

        <span>
          {{ formatDate(transaction.createdAt) }}
        </span>

      </div>

    </div>

  </div>


  <!-- MONTANT -->
  <div class="transaction-card__amount">

    {{ formatAmount(transaction.amount) }}

  </div>

</div>